<table>
    <tbody>
        <tr *ngFor="let row of table; let i = index">
            <td *ngFor="let data of row; let j = index">
                <p (click)="diamondFetch(i,j)" *ngIf="data.hideOriginal">?</p>
                <p *ngIf="!data.hideOriginal"><span *ngIf="data.diamond;else else_content"><i class="fa fa-diamond"></i></span>
                    <ng-template #else_content>&nbsp;</ng-template>
                </p>
            </td>
        </tr>
    </tbody>
</table>

<div (click) = hide($event) class="modal fade" [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': 1 }">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Your Score Card
            </div>
            <div class="modal-body">
                <p>{{score}}</p>
            </div>
            <div class="modal-footer">
               <input type="button" value="PLAY AGAIN" onClick="window.location.reload()">
            </div>
        </div>
    </div>
</div>
